* {
  font-family: akkurta,Inconsolata,monospace;
  box-sizing: border-box;
  font-variant-numeric: tabular-nums;
}

.box {
  width: 800px;
  margin: 25px 0 0 25px;
}

.header {
  margin: 10px 0 30px 6px;
}

.entries-header {
  background-color:  #eff3f6;
  /* border-radius: 5px 5px 0 0; */
  border: 1px solid #dfe2e5;
  border-bottom: 1px solid black;
  padding: 10px;
  margin: 10px 0 0 0;
}

.entries-primary {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2fr 2fr 2fr 2fr 2fr 7.25fr;
  background-color:  #eff3f6;
  /* border-radius: 0 0 5px 5px; */
  border: 1px solid #dfe2e5;
  padding: 10px;
}

.entries-secondary {
  background-color:  #eff3f6;
  /* border-radius: 0 0 5px 5px; */
  border: 1px solid #dfe2e5;
}

.entries-secondary-grid {
  display: grid;
  grid-template-columns: 1fr 4fr 0.5fr;
  grid-template-rows: 2fr;
  margin: 10px 20px 10px 20px;
}

.entry-input {
  margin: 6px;
  padding: 5px;
  width: 90%;
  /* border-radius: 3px; */
  border-color: slategray;
  border-width: 1px;
  background-color: rgb(254, 254, 254);
}

.entry-input:hover {
  background-color: rgb(268, 268, 268);
}

.entry-input:active {
  background-color: rgb(268, 268, 268);
}

.input-name {
  margin: auto;
}

.button {
  font-size: 16px;
  /* border-radius: 5px; */
  color: #24292e;
  background-color: #eff3f6;
}

.button-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  margin: 20px 80% 0 0;
}

.button-tabs {
  border-bottom: 1px solid rgb(186, 186, 186);
}

.button-submit {
  margin: 0 20px 0 0;
}

.button-tracking {
  margin: 0 40px 0 0;
}

.button-toggle {
  font-size: 16px;
  /* border-radius: 5px 5px 0 0; */
  border-bottom: 0;
  color: #24292e;
}

.button-toggle-selected {
  font-size: 16px;
  /* border-radius: 5px 5px 0 0; */
  border-bottom: 0;
  color: #24292e;
  background-color: #eff3f6;
}

.button-script2 {
  margin: 0 0 0 15px;
}

.checkbox-div {
  margin: 3px 0 0 3px;
  font-size: 14px;
}

.checkbox-vars:hover {
  background-color: rgb(268, 268, 268);
}

pre {
  font-size: 14px;
}

.input-tracking {
  margin: 0 10px 0 10px;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline:0
}